/*Our Styles*/
.mainFlex{
  display: flex;  
  flex-direction: row;

  margin: 5%;
}

#contentContainer{

  width: 50%; 
  height: 75%;
}

/* Setup the canvas preview ready for whatever we want here, might need to explore sizes */
#canvasContainer{

  width: 50%; 
  height: 75%;
}

nav a{
  color:white;
  text-decoration: none;
}

body{
  background-image: linear-gradient(rgb(200, 221, 200), rgb(255, 255, 255)); /* the green here is temporary, I will find the actual hex code for the final product */
}
