/*Our Styles*/
.mainFlex{
  display: flex;  
  flex-direction: row;

  margin: 5%;
}

#contentContainer{

  width: 50%; 
  height: 75%;
}

/* Setup the canvas preview ready for whatever we want here, might need to explore sizes */
#canvasContainer{

  width: 50%; 
  height: 75%;
}
