/*Our Styles, I am just using flexbox as it is what I am familiar with please use whatever you are comfortable with*/
body{
  margin: 0;
}

footer{
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start; 

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  bottom:0px;
}

footer small{
  color: white;
}

.nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

    
  list-style: none;
  margin: 0; 
  padding: 1%;
  background: deepskyblue;
}

main{
  background-image: linear-gradient(rgb(200, 221, 200), rgb(255, 255, 255)); /* the green here is temporary, I will find the actual hex code for the final product */
}

.mainFlex{
  display: flex;
  align-items: center;
  justify-content: space-around;

  flex-grow: 1;
  flex-basis: 25%;

  width: 25%;
  height: 100%;

  margin-left: 10%;
  margin-top: 5%;
}

.flexButtons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:60%;
}

.flexLayout{
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

#leftSection{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex:35%;
  padding: 3em;
}

#rightSection{
  flex:65%;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  overflow: hidden;
}

/*
*{
  border-style: dashed;
  border-width: 1px;
}

